@import "tailwindcss";

:root {
  --primary: #0B324F;
  --secondary: #00A2E7;
  --background: #F2FAFD;
  --wils_orang: #EF6C33;
  --foreground: #0C3B5E;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-wils_orang: var(--wils_orang);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.container {
    width: 100%;
    @media (width >= 40rem /* 640px */) {
        max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 64rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 1240px /* 1240px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 1240px /* 1240px */;
    }
}
.Grad_BG {
  background-image:linear-gradient(150deg, #ee6c4d 20%, #ef6c33 15%, #fce8e3 60%)
}